 .partnerlogo
{

 content: url(./resources/logo.svg);
top:0;
  background: #293133;
  background-color: #293133; 
  height: 100%;
  width: 100%;
  
  	z-index: -1;
  position: absolute;
        top: 0%;
        right: 0%;
 
 
	justify-content: left;

}